.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-menu button {
    margin-left: 20px;
    padding: 8px 16px;
    background-color: #f88;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-menu button:hover {
    background-color: #ff6c6c;
  }
  


.detail-page {
    padding: 40px;
    text-align: center;
    background-color: ivory;
  }
  
  .title {
    font-size: 48px;
    font-family: 'cursive';
    margin-bottom: 40px;
    color: #f57c00;
    letter-spacing: 2px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
    justify-items: center;
  }
  
  .product-card {
    width: 180px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.03);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  
  .product-price {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }
  
  .main-img {
    width: 500px;
    height: auto;
    display: block;
    margin: 130px auto 40px;
  }

  .ground-icon {
    margin-right: 20px;
    width: 23px;
    height: auto;
    cursor: pointer;
  }

  .ground-div {
    display: block;
    align-items: center;
    margin: 30px 0 80px 0;
  }


.review-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 550px;
}

.review-input {
  display: block;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 30px;
  padding: 5px;
}

.review-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-div label {
  font-size: 18px;
  margin-right: 15px;
  font-weight: 600;
}

.review-select {
  font-size: 18px;
  width: 30%;
}

.review-text {
  font-size: 16px;
  width: 100%;
  height: 200px;
  margin-top: 5px;
  padding: 5px;
}

.review-but {
  width: 100%;
  height: 50px;
  padding: 12px;
  background-color: #FC8080;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.review-but:hover {
  background-color: #0056b3;
}